<?xml version="1.0" encoding="UTF-8" ?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <!-- contextClass 초기화 파라미터를 설정한다. -->
        <init-param>
            <param-name>contextClass</param-name>
            <!-- 자바 설정을 이용하는 웹 어플리케이션 용 스프링 컨테이너 클래스-->
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
        </init-param>
        <init-param>
            <!-- contextConfiguration 초기화 파라미터의 값을 지정한다. -->
            <param-name>contextConfigLocation</param-name>
            <!-- 스프링 설정 클래스 목록을 지정한다. -->
            <!-- 줄바꿈이나 콤마로 구분 -->
            <param-value>
                config.PersistenceConfig
                config.ClientConfig
                config.RestConfig
            </param-value>
        </init-param>
        <!-- 이 서블릿을 웹 어플리케이션을 구동할 때 실행하도록 설정-->
        <load-on-startup>1</load-on-startup>
    </servlet>


    <!-- 모든 요청을 DispatcherServlet이 처리하도록 서블릿 매핑을 설정 -->
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- HTTP 요청 파라미터의 인코딩 처리를 위한 서블릿 필터를 등록한다.-->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <!-- 스프링은 인코딩 처리를 위한 필터를 제공한다.-->
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <!-- encoding 초기화 파라미터를 설정해서
            HTTP 요청 파라미터를 읽어올 때 사용할 인코딩 지정-->
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>filter.AccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>